<!-- quote -->
<div class="quote" *ngIf="post.type === 'quote'">
    <div>
        <div class="quote-text">
            {{ post["quote-text"] }}
        </div>
        <b class="quote-source">
            — <span [innerHTML]="post['quote-source']"></span>
        </b>
    </div>
</div>

<!-- photo -->
<div class="photo" *ngIf="post.type === 'photo'">
    <div>
        <a href="https://demo.tumblr.com/image/{{ post.id }}" target="_blank">
            <img class="photo-source" src="{{ post['photo-url-400'] }}" alt="{{ post.slug }}" />
        </a>
    </div>
    <div class="photo-caption" [innerHTML]="post['photo-caption']"></div>
</div>

<!-- link -->
<div *ngIf="post.type === 'link'">
    <div class="link">
        <a class="link-text" href="{{ post['link-url'] }}" target="_blank">
            {{ post["link-text"] }}
        </a>
        <br />
        <div [innerHTML]="post['link-description']" class="link-description"></div>
    </div>
</div>

<!-- conversation -->
<div *ngIf="post.type === 'conversation'">
    <div class="conversation">
        <table>
            <tr>
                <div class="chat-message" *ngFor="let conversation of post.conversation">
                    <span class="chat-user">{{ conversation.name }}: </span><span>{{ conversation.phrase
                        }}</span>
                </div>
            </tr>
        </table>
    </div>
</div>

<!-- audio -->
<div *ngIf="post.type === 'audio'">
    <div class="audio">
        <table>
            <tr>
                <td class="bi bi-play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 16 16">
                        <path
                            d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                    </svg>
                    <span class="audio-player">Dinle</span>
                </td>
            </tr>
        </table>
        <br />
        <div [innerHTML]="post['audio-caption']"></div>
    </div>
</div>

<!-- regular -->
<div *ngIf="post.type === 'regular'">
    <div>
        <div class="regular-title" [innerHTML]="post['regular-title']"></div>
        <div class="regular-body" [innerHTML]="post['regular-body']"></div>
    </div>
</div>

<div class="post-release-date">
    {{post.dateDMYFormat}}
</div>

<div>
    <button class="btn btn-outline-primary mb-2 me-2 + {{changeCurrentPostClass(post)}}" (click)="onClickShowModal()">Open Modal</button>
</div>