<footer class="footer">Powered by <a href="https://www.tumblr.com/">Tumblr</a></footer>

<form *ngIf="isFooterModalVisible" class="banner" role="document">
  <div class="banner-body">

    <div class="banner-title">Tumblr'a katıl</div>
    <div class="banner-content">Bunun gibi daha fazla blog keşfet.</div>
  </div>

    <button id="register-button" type="button" class="btn register-button btn-primary-outline"
      (click)="onClickRegisterButton()">
      Kaydol
    </button>

    <button id="signin-button" type="button" class="btn signin-button btn-primary-outline"
      (click)="onClickLoginButton()">
      Oturum aç
    </button>

  <button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close"
    (click)="onClickCloseButton()">
    <span aria-hidden="true">&times;</span>
  </button>
  
</form>