.navbar {
  display: flex;
  justify-content: right;
  flex-grow: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #ffffff;
}

#explore-button,
#follow-button {
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  border: 0;
}

#follow-button {
  font-size: 12px;
}

.btn-secondary {
  margin: 5px;
  height: 28px;
  background-color: #b0b0b0;
  opacity: 0.8;
}

.btn-dark {
  height: 28px;
  background-color: #000525;
  opacity: 0.8;
}