<div class="container">
  <b class="title">
    {{ this.root?.tumblelog?.title }}
  </b>

  <hr />

  <div class="post-container">
    <div class="post-content" *ngFor="let post of posts">
      <div *ngIf="post['is-date-visible']" class="datebox">
        <div class="datebox-weekday">
          {{ post["weekday"] }}
        </div>
        <div class="datebox-month">
          <div>
            {{ post["month"] }}
          </div>
          <div>
            {{ post["day"] }}
          </div>
        </div>
      </div>

      <!-- quote -->
      <div class="quote" *ngIf="post.type === 'quote'">
        <div class="quote-text">
          {{ post["quote-text"] }}
        </div>
        <b class="quote-source">
          — <span [innerHTML]="post['quote-source']"></span>
        </b>
      </div>

      <!-- photo -->
      <div class="photo" *ngIf="post.type === 'photo'">
        <div>
          <a href="https://demo.tumblr.com/image/{{ post.id }}"
            ><img
              class="photo-source"
              src="{{ post['photo-url-400'] }}"
              alt="{{ post.slug }}"
          /></a>
        </div>
        <div class="photo-caption" [innerHTML]="post['photo-caption']"></div>
      </div>

      <!-- link -->
      <div class="link" *ngIf="post.type === 'link'">
        <a class="link-text" href="{{ post['link-url'] }}">
          {{ post["link-text"] }}
        </a>
        <br />
        <div
          [innerHTML]="post['link-description']"
          class="link-description"
        ></div>
      </div>

      <!-- conversation -->
      <div class="conversation" *ngIf="post.type === 'conversation'">
        <table>
          <tr>
            <div *ngFor="let conversation of post.conversation">
              <td>{{ conversation.name }}: {{ conversation.phrase }}</td>
            </div>
          </tr>
        </table>
      </div>

      <!-- audio -->
      <div class="audio" *ngIf="post.type === 'audio'">
        <div [innerHTML]="post['audio-caption']"></div>
      </div>

      <!-- regular -->
      <div class="regular" *ngIf="post.type === 'regular'">
        <div [innerHTML]="post['regular-title']"></div>
        <div [innerHTML]="post['regular-body']"></div>
      </div>
      <br />
    </div>
  </div>
</div>
