.title {
  font-size: 50px;
  font-weight: bold;
  color: #444444;
  a {
    font-size: 50px;
    font-weight: bold;
    color: #444444;
    text-decoration: unset;
  }
}

.container {
  width: 850px;
  text-align: center;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.post-content {
  grid-column-start: 2;
  height: auto;
  padding-bottom: 25px;
}

.datebox {
  display: grid;
  width: 200px;
  height: 35px;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: -180px;
  top: 35px;
  line-height: 1;
}

.datebox-month {
  width: 50px;
  height: 35px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
  color: #bbd5f1;
  background-color: #6498cc;
}
.datebox-weekday {
  height: 30px;
  float: center;
  vertical-align: middle;
  color: #cccccc;
  font-size: 35px;
  line-height: 1;
}

.quote {
}

.quote-text {
  text-align: left;
  line-height: normal;
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.5em;
  border-collapse: collapse;
  width: 100%;
  border-left: 5px solid #6498cc;
  color: #888888;
  a,
  a:hover,
  a:visited {
    float: left;
    color: #cc0000;
    font-weight: bold;
  }
}

.quote-source {
  float: left;
  font-size: 1em;
  font-weight: bold;
  /* border-collapse: collapse; */
  color: #444444;
}

.photo {
  text-align: center;
  padding: 20px;
}

.photo-source {
  margin-bottom: 10px;
}

.photo-caption {
  font-size: 0.8em;
  font-weight: bold;
  color: #444444;
  a {
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: bold;
    color: #444444;
  }
}

.link {
  a {
    text-decoration: underline;
    float: left;
    color: #cc0000;
    font-weight: bold;
  }
}

.link-text {
}

.link-description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  font-weight: 300;
  text-align: left;
  letter-spacing: -1px;
}

.conversation {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  color: #888;
  font-size: 0.8em;
  width: 100%;
  border-left: 5px solid #bbbbbb;
  table {
    tr {
      div:nth-child(odd) {
        padding: 0 0 0 1em;
        background-color: #f4f4f4;
      }
      div:nth-child(even) {
        padding: 0 0 0 1em;
        background-color: #e8e8e8;
      }
    }
  }
}

.chat-message:nth-child(odd) {
  .chat-user {
    color: #cc0000;
    font-weight: bold;
  }
}
.chat-message:nth-child(even) {
  .chat-user {
    color: #0003cc;
    font-weight: bold;
  }
}

.conversation-name {
}

.conversation-phrase {
}

.audio {
  float: left;
  .bi-play {
    border-left: 5px solid #bbbbbb;
  }
  table {
    padding-top: 0em;
    text-align: left;
    width: 200px;
    background-color: #e8e8e8;
    color: #444444;
    font-weight: bolder;
    font-size: smaller;
    align-items: center;
  }
}

.audio-player {
  position: relative;
  top: -8px;
  height: 30px;
}

.audio-caption {
  padding-left: 1em;
}

.regular {
  text-align: left;
}

.regular-title {
  text-align: left;
  color: #6498cc;
}

.regular-body {
  font-size: small;
  text-align: left;
}
