.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #444444;
}

.container {
  margin: auto;
  width: 500px;
  justify-items: center;
  border: 0;
}

.content {
  padding: 1em;
}

#post-date {
  position: absolute;
  left: -260px;
}

.quote {
}

.quote-text {
  font-size: 2.2em;
  font-weight: bold;
  padding-left: 0.5em;
  border-collapse: collapse;
  width: 100%;
  border-left: 5px solid #6498cc;
  color: #888888;
}

.quote-source {
  font-size: 1em;
  font-weight: bold;
  /* border-collapse: collapse; */
  color: #444444;
}

.photo {
  text-align: center;
}

.photo-url {
}

.photo-caption {
  font-size: 0.8em;
  font-weight: bold;
  /* border-collapse: collapse; */
  width: 100%;
  color: #444444;
}

.link {
}

.link-text {
  color: red;
  font-weight: bold;
}

.link-description {
}

.conversation {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #888;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0 0 1em;
  border-collapse: collapse;
  width: 100%;
  border-left: 4px solid #bbbbbb;
  color: #555555;
}

.conversation-name {
}

.conversation-phrase {
}

.audio {
}

.audio-caption {
}

.regular {
}

.regular-title {
}

.regular-body {
}

.table tr:nth-child(even) {
  background-color: #f4f4f4;
}
