<div>
    <div *ngFor="let post of posts">
        <div *ngIf="post.type === 'quote'">
            {{ post["quote-text"] }}
            {{ post["quote-source"] }}
        </div>

        <div *ngIf="post.type === 'photo'">
            <img src="{{ post['photo-url-400'] }}" alt="{{ post.slug }}" />
            {{ post["photo-caption"] }}
        </div>

        <div *ngIf="post.type === 'link'">
            <a href="{{ post['link-url'] }}">{{ post["link-text"] }}</a>
            {{ post["link-description"] }}
        </div>

        <div *ngIf="post.type === 'conversation'">
            <div *ngFor="let conversation of post.conversation">
                <table>
                    <tr>
                        <td>{{ conversation.name }}: {{ conversation.phrase }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngIf="post.type === 'audio'">
            {{ post["audio-caption"] }}
        </div>

        <div *ngIf="post.type === 'regular'">
            {{ post["regular-body"] }}
        </div>
    </div>
</div>