.container {
  width: 824px;

  .header{
    position: relative;

    .title {
      display: flex;
      justify-content: center;
      font-size: 50px;
      font-weight: bold;
      color: #444;
      padding-top: 20px;
  
      a {
        text-decoration: unset;
      }
    }
  
    .rss-button {
      position: absolute;
      bottom: 0px;
      right: 1px;
    }
  }
  
  .post-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
  
    .post-content {
      grid-column-start: 2;
      width: 420px;  
    }

    .blog-description-form {
      position: absolute;
      width: 151px;
      right: 18px;
      top: 0;
      line-height: normal;
      text-align: right;

      .search-box {
        position: relative;
        width: 166px;
      }
      
      .search-button {
        font-size:13px;
        border-width: thin;
      }
    }
  }

  @media (max-width: 600px) {
    .post-container {
      grid-template-columns: 0fr 1fr 0fr;
    }
  }
}
