.footer {
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: -0.5px;
  font-size: small;
}

.banner {
  float: center;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  justify-items: center;
  font-weight: bolder;
  font-size: small;
  margin: 5px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 650px;
  padding-left: 25px;
  padding-top: 15px;
  color: #ffffff;
  background-color: #7c5cff;
  top: 100%;
  left: 50%;
  margin-top: -100px;
  margin-left: -346px;
}

.banner-title {
  font-size: 20px;
  font-weight: 750;
}

.banner-content {
  font-size: 15px;
}

.banner-body {
  grid-column-start: 1;
}

#register-button {
  grid-column-start: 7;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  width: 125px;
  height: 50px;
  color: #7c5cff;
  background-color: #ffffff;
  border-color: #ffffff;
}

#signin-button {
  grid-column-start: 9;
  font-weight: bold;
  margin: 10px;
  width: 125px;
  height: 50px;
  color: #ffffff;
  background-color: #7c5cff;
  border-color: #ffffff;
}

#close-button {
  grid-column-start: 11;
  position: relative;
  height: 20px;
  top: -12px;
  left: -5px;
  color: #ffffff;
  opacity: 1;
}
