<footer class="footer">Powered by Tumblr</footer>

<footer class="banner" role="document">
  <div class="banner-body">
    <div class="banner-title">Tumblr'a katıl</div>
    <div class="banner-content">Bunun gibi daha fazla blog keşfet.</div>
  </div>

  <button
    id="register-button"
    type="button"
    class="btn btn-secondary btn-primary-outline"
  >
    Kaydol
  </button>
  <button
    id="signin-button"
    type="button"
    class="btn btn-dark btn-primary-outline"
  >
    Oturum aç
  </button>
</footer>
