.post{
  position: relative;
  font-size: 12px;

  .post-link{
    position: absolute;
    right: -28px;
    top: -13px;
    visibility: hidden;
  }
}

.post:hover{
  .post-link{
    visibility:visible;
  }
}

.datebox {
  position: relative;
  display: flex;
  line-height: 1;
  left:-82px;

  .datebox-weekday {
    position: absolute;
    color: #ccc;
    font-size: 35px;
    height: 30px;
    left:-74px;
  }

  .datebox-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    margin-left: 10px;
    color: #bbd5f1;
    background-color: #6498cc;
  }
}

.post-release-date{
  font-size: small;
}

.inactive{
  display: none;
}