<div *ngFor="let post of this.posts; let i = index"class="post">
    <!-- date box -->
    <div *ngIf="post['is-date-visible']" class="datebox">
        <div class="datebox-weekday">
            {{ post["weekday"] }}
        </div>
        <div class="datebox-month">
            <div>
                {{ post["month"] }}
            </div>
            <div>        
                {{ post["day"] }}
            </div>
        </div>
    </div>

    <app-post-content [post]="post"></app-post-content>

    <div>
        <button class="btn-outline-primary mb-2 me-2" (click)="onClickShowModal(post.id)">Open Modal</button>
    </div>
 
    <!-- arrow button  -->
    <div class="post-link">
        <button class="btn show-arrow-button" (click)="setCurrentPost(post.id)"><img
                src="https://static.tumblr.com/vr9xgox/NoWnf8zop/permalink.gif" alt="open content" /></button>
    </div>
 
    <hr>
</div>