/* You can add global styles to this file, and also import other style files */

body {
  font-family: arial, sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
  color:#444;
  text-decoration: underline;
}

p > a:active {
  color:#6498cc;
  text-decoration: underline;
}
p > a:link {
  color:#6498cc;
  text-decoration: underline;
}
p > a:visited {
  color:#6498cc;
  text-decoration: underline;
}
p > a:hover {
  color:#6498cc;
  text-decoration: underline;
}

.blockquote {
  font-style: italic;
  border-left: solid 2px #444;
  padding-left: 10px;
}